In [4]:
print ("Tayyab hassan")

Tayyab hassan

In [5]:
x=5

In [6]:
print (x)

5

In [7]:
type (x)

int

In [8]:
y=3.14
type (y)

float

In [9]:
z=x+y
print (z)
type (z)

8.14

float

In [10]:
2*3

6

In [11]:
x= 2
y=5
z=x+y
print (z)
type (z)

7

int

In [12]:
2**3 # 2 power 3

8

In [14]:
x=4
y=6.7
z=y/x               # it also displays values after points
print (z)
print (type (y))    #it shows type of only y

1.675
<class 'float'>

In [18]:
x=4
y=6.7
z=y//x               # it replace values to 0 after point (or only exact value)
print (z)
print (type (y))    #it shows type of only y

1.0
<class 'float'>

In [19]:
x=22
y=7
z=x//y
print (z)

3

In [34]:
   #Take input from user


# for c++   cin>>x;
# for java  system.in (x);
x=input ("please enter X value: ")  # for python
y=input ("Please enter Y value: ")
z=x+y
print (z)    # it only displays both strings 10 and 5 = 105

please enter X value: 10
Please enter Y value: 2
102

In [27]:
# for c++   cin>>x;
# for java  system.in (x);


x=int (input ("please enter X value: "))  # there must add datatype to perform any operation otherwise it only displays strings
y=int (input ("Please enter Y value: "))
z=x+y
print (z)    # it adds both strings 10 and 5 = 105

please enter X value: 15
Please enter Y value: 5
20

In [29]:
# for c++   cin>>x;
# for java  system.in (x);


x=int (input ("please enter X value: "))  # there must add datatype to perform any operation otherwise it only displays strings
y=int (input ("Please enter Y value: "))
z=x-y   #Subtraction
print (z)    # it adds both strings 10 and 5 = 105

please enter X value: 10
Please enter Y value: 5
5

In [33]:
# for c++   cin>>x;
# for java  system.in (x);


x=int (input ("please enter X value: "))  # there must add datatype to perform any operation otherwise it only displays strings
y=int (input ("Please enter Y value: "))
z=x-y   #Subtraction
print (x, " + ", y, " = ", z)    # must focus on commas to separate variables

please enter X value: 16
Please enter Y value: 12
16  +  12  =  4

In [35]:
   # Relational operators: 
    
x<y

True

In [36]:
   # Relational operators: 

x>y

False

In [40]:
   # Relational operators: 

x<y
x=y
x>y

False

In [41]:
   # Relational operators: 

print (x<y)
print (x=y)
print (x>y)

False

TypeError: 'x' is an invalid keyword argument for print()

In [43]:
  #Logical operators
    
True and False   # first character must be capital

False

In [44]:
  #Logical operators
    
True and True

True

In [45]:
  #Logical operators
    
not True and not True

False

In [47]:
  #Logical operators
    
not False and not False     # means both are true

True

In [49]:
x<y>z    # it actually compares values

False

In [51]:
x=int (input ("enter x: "))
y=int (input ("enter y: "))
print (x>y)

enter x: 6
enter y: 5
True

In [59]:
   # IF- Else conditions


x=int (input ("enter x: \n"))  # datatype must be mentioned 
y=int (input ("enter y: \n"))


if x<y:              # collan shows the body of if statement 
    print (x, " is less than ", y)    # it will move to 4 spaces automatically
else:
    print (y, " is less than ", x)

enter x:
10
enter y:
6
6  is less than  10

In [66]:
   # Nested IF- Else conditions


x=int (input ("enter x: \n"))  # datatype must be mentioned 
y=int (input ("enter y: \n"))


if x<y:              # collan shows the body of if statement 
    print (x, " is less than ", y)    # it will move to 4 spaces automatically
    
elif x>y:        #else if condition
    print(y, " is greater than ", x)

enter x:
15
enter y:
10
10  is greater than  15

In [67]:
'''
for (int x=0;x<10;x++)  # loop in C++
{
    cout <<x
}
'''
for x in range (10):  # loop in Python start from index 0
    print (x)

0
1
2
3
4
5
6
7
8
9

In [68]:
'''
for (int x=0;x<10;x++)  # loop in C++
{
    cout <<x
}
'''
for x in range (1, 10, 2):  # 1 is starting point, 10 is ending point, 2 is increment in loop
    print (x)

1
3
5
7
9

In [69]:
'''
for (int x=0;x<10;x++)  # loop in C++
{
    cout <<x
}
'''

   # Increment in loop
    
for x in range (1, 10, 2):  # 1 is starting point, 10 is ending point, 2 is increment in loop
    print (x, end= " ")     # syntax to print in a straight line

1 3 5 7 9

In [70]:

   # Decrement in loop

for x in range (10, 1, -2):  # 1 is starting point, 10 is ending point, 2 is Decrement in loop
    print (x, end= " ")     # syntax to print in a straight line

10 8 6 4 2