# Lecture-5 List and Dictionary

In [2]:
# it is independent to data type
# let any variable

list =[1,2,3,4]   # list created
print (type (list))
print (list)

<class 'list'>
[1, 2, 3, 4]

In [4]:
# Check index in the list

list =[1,2,3,4]   # list created
list [2]

3

In [6]:
#print type of any index value

list =[1,2,3,4]   # list created
type (list [-3])

int

In [8]:
# Add extra indexes in the list

list =[1,2,3,4]   # list created
list =list +[5.5,2,4,7.9]
list

[1, 2, 3, 4, 5.5, 2, 4, 7.9]

In [13]:
# Add extra indexes in the list

string=['UMT', 'UCP','UOL']
list =list +string        # concatenate both arrays
print (list)

[1, 2, 3, 4, 5.5, 2, 4, 7.9, 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL']

In [14]:
# same as + to add strings

string=['UMT', 'UCP','UOL']
list =list +string        # concatenate both arrays
list.extend([55,66,67,68])
print (list)

[1, 2, 3, 4, 5.5, 2, 4, 7.9, 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 55, 66, 67, 68]

In [15]:
# Insert value at any index

string=['UMT', 'UCP','UOL']
list =list +string        # concatenate both arrays
list.extend([55,66,67,68])  
list.insert(5,12345678)    # 5 is index and 1234567 is the value to insert
print (list)

[1, 2, 3, 4, 5.5, 12345678, 2, 4, 7.9, 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 55, 66, 67, 68, 'UMT', 'UCP', 'UOL', 55, 66, 67, 68]

In [16]:
# append value at any index

string=['UMT', 'UCP','UOL']
list =list +string        # concatenate both arrays
list.extend([55,66,67,68])  
list.insert(5,12345678)    # 5 is index and 1234567 is the value to insert
list.append(['Change','in','Pakistan'])
print (list)

[1, 2, 3, 4, 5.5, 12345678, 12345678, 2, 4, 7.9, 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 'UMT', 'UCP', 'UOL', 55, 66, 67, 68, 'UMT', 'UCP', 'UOL', 55, 66, 67, 68, 'UMT', 'UCP', 'UOL', 55, 66, 67, 68, ['Change', 'in', 'Pakistan']]

In [17]:
# append value at any index , append is at one index only

list[-1]   # SHows the final append list by -1 index

['Change', 'in', 'Pakistan']

In [18]:
# append value at any index

list[-1][2]   # -1 append list index, 2 enters in the word

'Pakistan'

In [19]:
# data in the append list

list[-1][2][3]   # -1 append list index, 2 enters in the word, 3 is the index of the word accessed by index 2

'i'

In [23]:
# Deletion  - del

#del - remove the value at any particular index
#remove
#pop

del list [5]
list

[1,
 2,
 3,
 4,
 5.5,
 4,
 7.9,
 'UMT',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 ['Change', 'in', 'Pakistan']]

In [26]:
# Deletion - 

#del - remove the value at any particular index
#remove
#pop

list.remove('UMT')
list

[1,
 2,
 3,
 4,
 5.5,
 4,
 7.9,
 'UCP',
 'UOL',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 ['Change', 'in', 'Pakistan']]

In [29]:
# Deletion - pop

#del - remove the value at any particular index
#remove
#pop - delete the last value

list.pop()
list

[1,
 2,
 3,
 4,
 5.5,
 4,
 7.9,
 'UCP',
 'UOL',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68]

In [32]:
# Deletion - pop

#del - remove the value at any particular index
#remove
#pop - delete the last value

list.sort()    # error due to different datatypes( sort in ascending order)
list

TypeError: '<' not supported between instances of 'str' and 'float'

# Dictionary(d)

In [42]:
# Key  ----- Unique.....Values
d={
   'Country':['Pakistan','Iran','China'],           # the indexes in all the lists should be same
   'Capital': ['Islamabad','Tehran','Beijing'],
   'Population': [24.5,22.7,135,175.9]
  }
type(d)

dict

In [43]:
# Keys 

d={
   'Country':['Pakistan','Iran','China'],           # the indexes in all the lists should be same
   'Capital': ['Islamabad','Tehran','Beijing'],
   'Population': [24.5,22.7,135,175.9]
  }
d.keys()

dict_keys(['Country', 'Capital', 'Population'])

In [45]:
# Values

d={
   'Country':['Pakistan','Iran','China'],           # the indexes in all the lists should be same
   'Capital': ['Islamabad','Tehran','Beijing'],
   'Population': [24.5,22.7,135,175.9]
  }
d.values()

dict_values([['Pakistan', 'Iran', 'China'], ['Islamabad', 'Tehran', 'Beijing'], [24.5, 22.7, 135, 175.9]])

In [46]:
# whole data

d={
   'Country':['Pakistan','Iran','China'],           # the indexes in all the lists should be same
   'Capital': ['Islamabad','Tehran','Beijing'],
   'Population': [24.5,22.7,135,175.9]
  }
d.items()

dict_items([('Country', ['Pakistan', 'Iran', 'China']), ('Capital', ['Islamabad', 'Tehran', 'Beijing']), ('Population', [24.5, 22.7, 135, 175.9])])

In [47]:
# keys by loop

d={
   'Country':['Pakistan','Iran','China'],           # the indexes in all the lists should be same
   'Capital': ['Islamabad','Tehran','Beijing'],
   'Population': [24.5,22.7,135,175.9]
  }
for k in d.keys():
    print (k)

Country
Capital
Population

In [48]:
# values by loop

d={
   'Country':['Pakistan','Iran','China'],           # the indexes in all the lists should be same
   'Capital': ['Islamabad','Tehran','Beijing'],
   'Population': [24.5,22.7,135,175.9]
  }
for k in d.values():
    print (k)

['Pakistan', 'Iran', 'China']
['Islamabad', 'Tehran', 'Beijing']
[24.5, 22.7, 135, 175.9]

In [60]:
# keys by loop

d={
   'Country':['Pakistan','Iran','China'],           # the indexes in all the lists should be same
   'Capital': ['Islamabad','Tehran','Beijing'],
   'Population': [24.5,22.7,135]
  }
for k,v in d.items():
    print (k,' => ',v)    # Separate keys and values by =>

Country  =>  ['Pakistan', 'Iran', 'China']
Capital  =>  ['Islamabad', 'Tehran', 'Beijing']
Population  =>  [24.5, 22.7, 135]

# Pandas

In [58]:
import pandas as pd     # it makes the object , pandas is the library to clean the data
# just import the library

In [62]:
df = pd.DataFrame.from_dict(d)    #Dataframe is the keyword for making Table
df

    Country    Capital  Population
0  Pakistan  Islamabad        24.5
1      Iran     Tehran        22.7
2     China    Beijing       135.0

In [65]:
# Create and write a data in separate file
df.to_csv('pbd_d3.csv',index=False, header=True)   # index not mentioned, headers data will be placed, df is a variable

In [71]:
# Read a data from file

dff=pd.read_csv('pbd_d3.csv')   # index not mentioned, headers data will be placed, df is a variable,   .csv-comma separte file
dff.head(2)    # 3 is the number of the rows to display from head(top)

    Country    Capital  Population
0  Pakistan  Islamabad        24.5
1      Iran     Tehran        22.7

In [70]:
# Read a data from file

dff=pd.read_csv('pbd_d3.csv')   # index not mentioned, headers data will be placed, df is a variable,   .csv-comma separte file
dff.tail(2)    # 3 is the number of the rows to display from head(top)

  Country  Capital  Population
1    Iran   Tehran        22.7
2   China  Beijing       135.0

# Tuple ( value not change-able, like constant variable)

In [72]:
# ex, registration is a tuple, not changeable

t= (1,2,3,4)
type(t)

tuple

In [76]:
t= (1,2,3,4)
t[0:3]    # first and last index

(1, 2, 3)

In [78]:
# Concatenation of tuple
t= (1,2,3,4)
t=t+(55,44,33)
t

(1, 2, 3, 4, 55, 44, 33)

In [79]:
list

[1,
 2,
 3,
 4,
 4,
 5.5,
 7.9,
 'UCP',
 'UOL',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68]

In [82]:
t=t+tuple (list)
t

(1,
 2,
 3,
 4,
 55,
 44,
 33,
 1,
 2,
 3,
 4,
 4,
 5.5,
 7.9,
 'UCP',
 'UOL',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 1,
 2,
 3,
 4,
 4,
 5.5,
 7.9,
 'UCP',
 'UOL',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68,
 'UMT',
 'UCP',
 'UOL',
 55,
 66,
 67,
 68)