# Question# 2

In [24]:
import pandas as pd  # import library , pd is the object for pandas 
df= pd.read_csv('quizdata.csv')
df

   S.No       Name      State Gender  Age
0     0      Altaf          -      M   63
1     1      Imran     London      M   33
2     2      Hamza     Lahore      M    -
3     3   Bahtawar   Peshawar      F   19
4     4    Ranveer      Dehli      M   34
5     5       Kaif     Mumbai      -   32
6     6    Deepika     Lahore      F   31
7     7     Mahira    Karachi      -   38
8     8     Waseem          -      M    -

In [41]:
import numpy as np   # make the whole changes in the file on slash -
df.replace("-",np.nan,inplace=True)   # it replaces the - to nam that means there would be a null , and it displays NaN that place
df.isnull()   # place false at the places where data exists, and true at where there exists no data
df.isnull().sum()   # tells how much there is a null data, or how much there are true values

df['State'].value_counts()    # replace State to null
df['State'].value_counts().max()
mx= df['State'].value_counts().idxmax()
df['State'].replace(np.nan,mx,inplace=True)
df.isnull().sum()

df['Gender'].value_counts()    # replace Gender to null
df['Gender'].value_counts().max()
gn= df['Gender'].value_counts().idxmax()
df['Gender'].replace(np.nan,gn,inplace=True)
df.isnull().sum()

ag=df ['Age'].astype('int').mean()       # replace Age to null, as it has integer datatype
df['Age'].replace(np.nan,ag,inplace=True)
df.isnull().sum()

S.No      0
Name      0
State     0
Gender    0
Age       0
dtype: int64

# Question# 1

Following are the steps for handling missing data!

1. Replace the unknown data with NaN.
2. Identify which datatype of each column has.
3. If the type is quantitative, then replace all the unknowns with mean of entire column
4. If it is of type quanlitative, then replace all the unknowns with most average value in each column.